html
    head
        title=title
        link(rel="stylesheet", href=css)
    body 
        h1=msg
        div(id="root")
        script(src=vendor)
        script(src=index)
        

        //- script(src="http://localhost:3000/@vite/client" type="module")
        //- script(src="http://localhost:3000/@react-refresh" type="module")
        //- script(type="module").
        //-     window.__vite_plugin_react_preamble_installed__ = true
        //- script(src="http://localhost:3000/src/main.jsx" type="module")